.body{
    background-color: #030637;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}

.card {
    width: 200px; 
    margin: 20px; 
    border: 1px solid #910A67; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    justify-content: space-around;
    transition: background-color 0.3s;
    padding: 5px;
    height: auto;
    //padding-top: 5em;
    color: 
}

.card:hover {
    background-color: #3C0753;
}

.card-title {
    font-size: 18px; 
    margin-bottom: 1px; 
    color: #030637;
    font-weight: bold;
    //padding: 0.5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.card-image {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
}
  
.card-text {
    font-size: 12px; 
    //padding: 0.5em;
    justify-content: center;
    color: #030637; 
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav1{
    
    width: 95vw;
    height: 1vw;
    text-decoration: none;
    margin: 6em;
    padding-left: 22em;
    color: white;
    justify-content: flex-start;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
}

.nav1 a{
    width: 90vw;
    margin-right: 200rem;
    text-align: justify;
    text-decoration: none;
    margin: auto;
    padding: 2em;
    background-color: #910A67;
    height: 1em;
    justify-content: flex-start;
}

.nav1 a:hover{
   
}

input[name="genre[]"]{
    margin: 0;
}